<div id='slider' class='swipe'>
  <div class='swipe-wrap'>
  </div>
</div>

<div id="footer">
    <nav id="position">
        <a href="#0" class="active"></a>
        <a href="#1"></a>
    </nav>
    <div id="standard-time"></div>
</div>
