.clock {
  font-family: monospace;
  font-size: 20px;
  line-height: 1.6;
  color: #fff;
  display: flex;

  .time-segment {
    width: 100%;

    + .time-segment {
      border-left: 1px solid #333;
    }
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      width: 50%;
    }
  }

  span {
    display: block;
    text-align: center;
  }
}

// #dots {
//   ul {
//     li {
//       width: 50%;
//     }
//   }

//   span {
//     height: 25%;
//     border-radius: 100%;
//     transform: scale(1);

//     &.active {
//       transform: scale(0.8);
//     }
//   }
// }

// #bars {
//   li {
//     -webkit-perspective: 1000px;
//   }

//   span {
//     height: 16.666666667%;
//     margin: 2px 0.5px;
//     -webkit-transform-style: preserve-3d;
//     -webkit-transform-origin: 50% 100%;
//     -webkit-transform: rotateX( 90deg );

//     // @include transition(background 500ms ease-out,
//     //   -webkit-transform 300ms ease-in);

//     &.active {
//       -webkit-transform: rotateX( 0deg );
//     }
//   }
// }
