.clock {
  .time {
    text-align: center;
    padding: 20px 0;
  }
}

.clock-container {
  display: flex;

  .time-segment {
    width: 100%;

    + .time-segment {
      border-left: 1px solid #333;
    }
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      width: 50%;
    }
  }

  span {
    display: block;
    text-align: center;
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }
}

