body {
  -webkit-font-smoothing: antialiased;
  background: black;
  font-family: Monaco, monospace;
  font-size: 20px;
  line-height: 1.6;
  color: #fff;
  margin: 0;
}

#app {
  height: 90vh;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

#footer {
  width: 100%;
  text-align: center;
  position: fixed;
  margin-bottom: 10px;
  bottom: 0;
  z-index: 1;
}

#position {
  text-align: center;

  a {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    margin: 2px;
    border-radius: 100%;
    opacity: 0.4;

    &.active {
      background: #fff;
    }
  }
}

