$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'compass';
@import 'variables';
@import 'sass-bootstrap/lib/bootstrap';
@import 'swipe';
@import 'time';

body {
    background: black;
    -webkit-font-smoothing: antialiased;
}

#root {
    padding-top: 20px;
    height: 100vh;
}

