$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'compass';
@import 'variables';
@import 'sass-bootstrap/lib/bootstrap';
@import 'swipe';
@import 'time';
@import 'colors';
@import 'layouts';

body {
    background: black;
    -webkit-font-smoothing: antialiased;
}

#root {
    padding-top: 20px;
    height: 100vh;
}
#footer {
    width: 100%;
    text-align: center;
    position: fixed;
    margin-bottom: 10px;
    bottom: 0;
    z-index: 1;
}

#position {
    text-align: center;
    a {
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 2px solid #fff;
        margin: 2px;
        @include border-radius(100%);
        @include opacity(0.4);
        &.active {
            background: #fff;
        }
    }
}

